#!/bin/bash
PATH=/home/solana/.local/share/solana/install/active_release/bin:/usr/sbin:/usr/bin:/sbin:/bin:/snap/bin
# export RUST_BACKTRACE=1
# export RUST_LOG=error

# Start solana rpc node, intended to be used with journalctl/systemctl. Logs will go to journalctl.
exec solana-validator \
  --identity /home/solana/rpc_node.json \
{% for entrypoint in solana_entrypoints %}
  --entrypoint {{ entrypoint }} \
{% endfor %}
  --accounts /home/mnt/solana-accounts \
  --ledger /home/mnt/solana-ledger \
  --snapshots /home/mnt/solana-snapshots \
  --log /home/mnt/logs/solana-validator.log \
  --gossip-port 8001 \
  --rpc-port 8899 \
  --rpc-bind-address 0.0.0.0 \
  --dynamic-port-range 8002-8099 \
  --wal-recovery-mode skip_any_corrupted_record \
  --limit-ledger-size 50000000  \
  --private-rpc \
  --no-snapshot-fetch \
  --no-port-check \
  --no-voting \
  --full-rpc-api \
  --tpu-use-quic \
  --enable-cpi-and-log-storage \
  --enable-rpc-transaction-history \
  --account-index program-id spl-token-mint spl-token-owner \
  --accounts-index-memory-limit-mb 800000 \
{% for key in solana_index_exclude_keys %}
  --account-index-exclude-key {{ key }} \
{% endfor %}
{% for validator in solana_known_validators %}
  --known-validator {{ validator }} {% if not loop.last %}\
{% endif %}
{% endfor %}
