[Unit]
Description=Solana Validator
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=jito
LimitNOFILE=2000000
LogRateLimitIntervalSec=0
Environment="PATH=/mnt/jito/target/release/:/home/jito/.cargo/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/usr/games:/snap/bin:/home/jito/.local/bin/:/home/jito/.local/bin/:/home/jito/.local/bin/"
ExecStart=/home/jito/validator.sh

[Install]
WantedBy=multi-user.target
